@import "theme";
@import "map/marker-smaddle";
@import "buttons/btn-square";
@import "buttons/btn-icon";
@import "buttons/btn-primary";

html,body{
  background-color: var(--background-secondary);
  height: 100%;
}

.modal-content{
  background-color: var(--background-secondary);
  color: var(--text-primary);
  .close{
    color: var(--text-primary)
  }
}

.text-primary{
  color: var(--primary) !important;
}

.progress-bar{
  background-color: var(--primary) !important;
}
