:root{
  --primary: #FF9A00 !important;
}

:root{
  --background-primary: #efefef;
  --background-secondary: #fff;
  --background-tertiary: rgba(192, 192, 192, 0.82);
  --text-primary: black;
  --text-secondary: gray;
}

@media (prefers-color-scheme: dark){
  :root{
    --background-primary: #2c2c2b;
    --background-secondary: #171717;
    --background-tertiary: #343332;
    --text-primary: white;
    --text-secondary: silver;
  }
}

